{% extends 'blog/base.html' %}
 
{% block content %}
                {% for post in posts %}
                    <div class="post">
                        <h1><a>{{ post.titulo }}</a></h1>
                        <p>{{ post.texto|linebreaks }}</p>
			<div class="date">
			<p>publicado por {{ post.autor }}. {{ post.fecha_publicado }}</p>
			                        </div>
                    </div>
                {% endfor %}
{% endblock content %}

	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script src="particles.js"></script>
	<script src="particulas.js"></script>
