{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="css/blog.css">
	<title>Te Amo</title>   



<!-- 	<div class="page-header">
		<h1><a href="https://scontent-mia1-1.xx.fbcdn.net/hphotos-xal1/v/t1.0-9/12745447_10206761886940589_2524652319114239422_n.jpg?oh=dc56c74cb9073be0f71de59c990d6106&oe=57870DB2">Te Amo Melany</a></h1>
	</div> -->
	</head>
	


<body>

	<div id="particles-js"></div>

	<header>
		<div class="menu">
			<div class="contenedor">
				<div class="logo">FerCarstens</div>
				<nav>
					<ul>
						<li><a href="#">Inicio</a></li>
						<li><a href="#">Blog</a></li>
						<li><a href="#">Contacto</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	
	<div class="texto">
		<h2><a href="https://scontent-mia1-1.xx.fbcdn.net/hphotos-xal1/v/t1.0-9/12745447_10206761886940589_2524652319114239422_n.jpg?oh=dc56c74cb9073be0f71de59c990d6106&oe=57870DB2">Moon of my Life</a></h2>
	</div>
	
	

	<div class="principal contenedor">
        <div class="row">
            <div class="col-md-8">
                   <div class="post">
                        <h1><a>{{ post.titulo }}</a></h1>
                        <p>{{ post.texto|linebreaks }}</p>
						<div class="date">
						<p>publicado por {{ post.autor }}. {{ post.fecha_publicado }}</p>
						</div>
            		</div>
			</div>
        </div>
   	</div>
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script src="particles.js"></script>
	<script src="particulas.js"></script>

</body>

</html>