{% load staticfiles %}
<html>
	<head>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{% static 'css/blog.css' %}">
		<link href="http://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

  <div class="page-header">
		<h1><a href="https://scontent-mia1-1.xx.fbcdn.net/hphotos-xal1/v/t1.0-9/12745447_10206761886940589_2524652319114239422_n.jpg?oh=dc56c74cb9073be0f71de59c990d6106&oe=57870DB2">Te Amo Melany</a></h1>
    </div>
	</head>
	<body>


<div class="content container">
        <div class="row">
            <div class="col-md-8">
                {% for post in posts %}
                    <div class="post">
                        <h1><a href="">{{ post.titulo }}</a></h1>
                        <p>{{ post.texto|linebreaks }}</p>
			<div class="date">
				<p>publicado por {{ post.autor }}. {{ post.fecha_publicado }}</p>
                        </div>
________________________________________________________________________________________________________
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>


	</body>
</html>