<html>
	<head>
		<title>Melany Te Amo</title>
	</head>
	<body>
		<div>
			<h1><a href="https://scontent-mia1-1.xx.fbcdn.net/hphotos-xal1/v/t1.0-9/12745447_10206761886940589_2524652319114239422_n.jpg?oh=dc56c74cb9073be0f71de59c990d6106&oe=57870DB2">Te Amo</a></h1>
		</div>

	{% for post in posts %}
        <div>
		<h1><a href="">{{ post.titulo }}</a></h1>
		<h2><p>{{ post.texto|linebreaks }}</p></h2>
		<p>publicado por {{ post.autor }}. {{ post.fecha_publicado }}</p>
        </div>
	{% endfor %}

	</body>
</html>